html, body
{



}

.vertical-align{
    display: flex;
    align-items: center;
}

.text-green{
    color: #327837;
}

.post{
	border: 1px solid;
	margin-top: 5px;
}

.gameHeader{
	text-align: center;
	min-width: 60px;
}

.userCol1{
	min-width: 100px;
	padding-left: 5px;
}

.tippEntry{
	width: 25pt;
}

.success, .alert{
	padding: 5px;
	padding-left: 10px;
	margin-top: 5px;
}

.success{
	background-color: #DFF2BF;
	color: #4F8A10;
}
.alert{
	background-color: #FFBABA;
	color: #D8000C;
}


.tippCell{
	text-align: center;
}
.greenCell{
	background-color: #DFF2BF;
	color: #4F8A10;
}
.yellowCell{
	background-color: #FEEFB3;
	color: #9F6000;
}
.redCell{
	background-color: #FFBABA;
	color: #D8000C;
}
