-if current_user && current_user.admin?
	=link_to 'New Post', :new_post_path
-@posts.each do |p|
	.row
		.col-xs-1 &nbsp;
		.col-xs-10
			%div{:class =>'post'}
				%div{:class => "postHeader"} 
					=p.title
				%div{:class => "postContent"} #{simple_format(p.content)}
			-if current_user && current_user.admin?
				%div{:class =>'col-xs-10 col-xs-push-1 text-right'}
					=link_to 'löschen', "/posts/#{p.id}", :method => :delete