!!!
%html
  %head
    %title HGC
    = stylesheet_link_tag "bootstrap.min"
    = stylesheet_link_tag "HGC"
    = javascript_include_tag ""
  %body
    <div class="jumbotron" style="background-image: url(./img/green01_bg_tile.png);">
    <div class="container">
    <div class="row vertical-align">
    <div class="col-xs-1 text-center">
    <img src="img/augeGottes.gif" height="25" width="17" class="visible-xs" />
    <img src="img/augeGottes.gif" height="50" width="35" class="visible-sm" />
    <img src="img/augeGottes.gif" height="60" width="42" class="visible-md visible-lg" />
    </div>
    <div class="col-xs-9 text-left">
    <span class="col-xs-10 visible-xs text-green" style="font-size:15px;font-weight:bold;">Harti's Gartenclub</span>
    <span class="col-xs-10 visible-sm text-green" style="font-size:20px;font-weight:bold;">Harti's Gartenclub</span>
    <span class="col-xs-10 visible-md visible-lg text-green" style="font-size:30px;font-weight:bold;">Harti's Gartenclub</span>
    </div>
    </div>
    </div>
    </div>	
    
    = yield